<div class='page_container center'>
    <div class='form'>
        <div class="title">Login</div>
        <div class='item'>
            <input type="text" name="email" [(ngModel)]="user.email">
        </div>
        <div class='item'   >
            <input type="password" name="pass" [(ngModel)]="user.password">
        </div>
        <div class='button'>
            <input type="button" (click)="login()" value="Entrar">
        </div>
        <div class="register" (click)="register()">Deseo resgistrarme</div>
    </div>
</div>