.toolbar{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    background-color: rgb(32, 56, 78);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right:20px ;
}
.toolbar .login{
    color: aliceblue;
    padding:  8px 16px;
}
.toolbar .login:hover{
    background-color: rgb(189, 210, 228);
    cursor: pointer;
    color: #333333;
    border-radius:5%;
}
.router{
    position: absolute;
    padding-top:80px;
}