.page_container {
    min-height: 600px;
}
.form{
    border: 1px solid #ccc;
    padding: 32px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);

}
.form .register{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
    color:#333333;
    cursor: pointer;
}
.form .title{
   width: 100%;
   text-align: center;
   margin-bottom: 10px;
   text-transform: uppercase;
   font-weight: 600;
   color:#333333;
}
.form .item{
    padding: 5px;
}
.form .item input{
    height: 22px;
    width: 100%;
}
.form .button{
    width: 100%;
    padding:8px 5px;
}
.form .button input{
    width: 100%;
    background-color: rgb(53, 142, 219);
    border: none;
    padding:8px;
    border-radius:5px;
    cursor: pointer;

}