<div class='page_container center'>
    <div class='form'>
        <div class="title">Registro de Usuarios</div>
        <div class='item'>
            <label for="name">Nombre</label>
            <input type="text" name="name" [(ngModel)]="user.nombre">
        </div>
        <div class='item'>
            <label for="email">email</label>
            <input type="text" name="email" [(ngModel)]="user.email">
        </div>
        <div class='item'>
            <label for="rut">Rut</label>
            <input type="text" name="rut" [(ngModel)]="user.rut">
        </div>
        <div class='item'>
            <label for="pass">Contraseña</label>
            <input type="password" name="pass" [(ngModel)]="user.password">
        </div>
        <div class='button'>
            <input type="button" (click)="register()" value="Registrar">
        </div>
    </div>
</div>