.page_container {
    min-height: 600px;
}

.users {
    min-width: 400px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #333;
    margin-bottom: 5px;
}
.header div {
    width: 100px;
}
.row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.row div {
    width: 100px;
}
.row div.name,
.header div.name {
    width: 200px !important;
}
