<div class='page_container center'>
<div class="users">
    <div class="header">
        <div>Rut</div>
        <div class="name">Nombre</div>
        <div>Email</div>
    </div>
    <div class="row" *ngFor="let user of users; ">
        <div>{{user.rut}}</div>
        <div class="name">{{user.nombre}}</div>
        <div>{{user.email}}</div>
    </div>
</div>

</div>