/* You can add global styles to this file, and also import other style files */
.page_container{
    margin-top:60px
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}